.modal-div-hidden{
    border: 1px solid black;
    width: 70%;
    height: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-show{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}